<!-- show login/signup options -->
{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <p>You are logged in as {{ user.username }}.</p>
        <form id="logout-form" action="{% url 'logout' %}?next={% url 'profile' %}" method="post">
            {% csrf_token %}
            <button class="minicard card" type="submit">Logout</button>
        </form>
    {% else %}
        <p><a class="minicard card" href="{% url 'login'%}">Login</a> <a class="minicard card" href="{% url 'signup'%}">Sign Up</a></p>
    {% endif %}
{% endblock %}