{% extends 'base.html' %}


{% block content %}
  <form method="post" action="{% url 'login' %}?next={% url 'profile' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <input class="minicard card text-white" type="submit" value="Login">
    <input type="hidden" name="next" value="{% url 'profile' %}">
  </form>

  <p><a href="{% url 'signup' %}">New User? Sign Up</a></p>

  {# Assumes you set up the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}