{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
<!-- two cards, one Play a Friend, one Play the Computer -->
    <a href="{% url 'play' %}" class="card">
        <div class="card-image">
            <img class="img" src="{% static 'images/friend.png' %}" alt="friend">
        </div>
        <div class="card-content">
            <div class="main-text text-4xl">
                Play a Friend
            </div>
            <div class="sub-text text-xl">
                Take turns playing against a friend.
            </div>
        </div>
    </a>
    <a href="{% url 'play' %}" class="card">
        <div class="card-image">
            <img class="img" src="{% static 'images/robot.png' %}" alt="computer">
        </div>
        <div class="card-content">
            <div class="main-text text-4xl">
                Play the Computer
            </div>
            <div class="sub-text text-xl">
                Play against the computer.
            </div>
        </div>
    </a>
</div>
{% endblock %}
